<div class='main-nav'>
    <div class='navbar navbar-default'>
        <h1>Users list</h1>
        <h3>Click on any field to see task information</h3>
        <p *ngIf="!users"><em>Loading...</em></p>
        <br />
        <div class='col-sm-12'>
            <div class="form-group">
                <div class='col-sm-3'>
                    <label for="user">
                        Select a user
                    </label>
                </div>
                <div class='col-sm-9'>
                    <select class="form-control" name="user" [(ngModel)]="user" (change)="onSelectUser($event.target.value)">
                        <!--<option [ngValue]="undefined" hidden selected>Select... </option>-->
                        <option [ngValue]="undefined" selected>Select all...</option>
                        <option *ngFor="let user of users" [value]="user.id">{{user.firstName}}</option>
                    </select>
                </div>
            </div>
            <br />
            <div class='col-sm-3'>
                <label for="user">
                    Search by address
                </label>
            </div>
            <div class='col-sm-9'>
                <input type="text" class="form-control" name="searchString" placeholder="Type to search address..." [(ngModel)]="searchString">

            </div>
            <br /> 
            <!--<br />   
                   <div class='col-sm-12'>
                       <button class="btn btn-info pull-right" (click)="onCleare()">Cleare filter</button>
                   </div>
            <br />-->

            <table class='table table-hover' *ngIf="!boolHelper">
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Address</th>
                        <th>Phone Number</th>
                    </tr>
                </thead>
                <tbody>
                    <tr (click)="onTaskInfo(user.id)" *ngFor="let user of users | FilterPipe : 'address' : searchString; let i = index" title="Click to see task information">
                        <td [routerLinkActive]="['link-active']">
                            {{ user.firstName }}
                        </td>
                        <td>{{ user.lastName }}</td>

                        <td>{{ user.address }}</td>
                        <td>
                            <table>
                                <tbody>
                                    <tr *ngFor="let phoneNumber of user.phoneNumber">
                                        <td>{{phoneNumber}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div *ngIf="selectedUser">
                <table class='table table-hover' *ngIf="boolHelper">
                    <thead>
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Address</th>
                            <th>Phone Number</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr (click)="onTaskInfo(selectedUser.id)">

                            <td [routerLinkActive]="['link-active']">
                                {{ selectedUser.firstName }}

                            </td>
                            <td>{{ selectedUser.lastName }}</td>
                            <td>{{ selectedUser.address }}</td>
                            <td>
                                <table>
                                    <tbody>
                                        <tr *ngFor="let phoneNumber of selectedUser.phoneNumber">
                                            <td>{{phoneNumber}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <br />
        </div>
    </div>
</div>