<div class='container-fluid'>
    <div class='row'>
        <div class='col-sm-4'>
            <!--<nav-menu></nav-menu>-->
            <user></user>
        </div>
        <div class='col-sm-8 body-content'>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
