<h1>User tasks page</h1>

<p *ngIf="!checkedUser"><em>Loading...</em></p>
<h4>User Name: {{checkedUser.firstName}}</h4>
<table class='table table-striped' *ngIf="checkedUser">
    <thead>
        <tr>
            <th>Task Name</th>
            <th>Description</th>
            <th>Dlient Address</th>
            <th>Start Time</th>
            <th>End Time</th>
        </tr>
    </thead>
    <tbody>

        <tr *ngFor="let task of checkedUser.tasks">
            <td>{{ task.taskName }}</td>
            <td>{{ task.description }}</td>
            <td>{{ task.clientAddress }}</td>
            <td>{{ task.startTime }}</td>
            <td>{{ task.endTime }}</td>
            <td>
                <button class="btn btn-danger" (click)="onDelete(task.id)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>
